@{
    ViewBag.Title = "Want to Learn More";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1134 E 54th St<br />
    Indianapolis, Indiana 46220<br />
    
</address>

<address>
    <strong>Sign Up</strong>   <a href="mailto:r3evans@gmail.com">Email Us Here</a><br />
</address>